* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Overpass;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--Very-Dark-Blue, #131518);
}
