.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 39px 32px 32px;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  width: 412px;
}
